body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d1835;
  overflow: hidden;
}
main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
  z-index: 1000;
}
span {
  font-weight: bold;
}
img {
  position: absolute;
  bottom: -15vh;
  left: 0;
  width: 100vw;
  z-index: -999;
}

.logo-section {
  height: 25vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 40px;
  border-radius: 10px 100px 10px 10px;
  background-color: #1a285e;
}
.icons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.icon {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #0f1b3d;
  border-radius: 10px;
}

.storage-section {
  position: relative;
  height: 15vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
  border-radius: 10px;
  background-color: #1a285e;
  color: white;
}
.storage-section div:last-child {
  display: flex;
  justify-content: space-between;
}
.storage-section div:last-child > p {
  font-weight: bold;
}
.storage-message {
  position: absolute;
  top: -50px;
  right: 40px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: white;
  height: 10vh;
  width: 30%;
}
.storage-message::after {
  content: "";
  position: absolute;
  top: 60px;
  right: 0;
  height: 0;
  width: 0;
  border-top: 35px solid white;
  border-left: 35px solid transparent;
}
.storage-message p {
  font-weight: bold;
  color: grey;
}
.storage-message span {
  margin-right: 10px;
  color: black;
  font-size: xx-large;
}

.bar-container {
  position: relative;
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3px;
  border-radius: 20px;
  background-color: #0f1b3d;
}
.bar-progress {
  height: 15px;
  width: 75%;
  border-radius: 20px;
  background: rgb(236, 181, 124);
  background: linear-gradient(
    90deg,
    rgba(236, 181, 124, 1) 0%,
    rgba(255, 123, 166, 1) 100%
  );
}
.bar-circle {
  position: absolute;
  right: 120px;
  content: "";
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 100%;
}
